.breadcrumbs {
    margin: 10px 0 0 10px;

    .breadcrumbs__content {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .cart__items_list {
        display: flex;
        flex-direction: column;
        margin: 50px 0 0 20px;
        position: absolute;
        left: 0;
        z-index: 1;

        .cart__single {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px 0 0 20px;
            background-color: #f3f3f3;
            width: 900px;
            height: 120px;
            border-radius: 10px;
            box-shadow: 2px 2px 2px #efefef;

            &:hover {
                background-color: #eeeeee;

            }

            .cart_products {
                display: flex;
                flex-direction: column;
                width: 450px;
            }

            .cart__item_count {
                margin: 0 0 0 50px;

                .cart__count_plus,
                .cart__count_minus {
                    width: 30px;
                    height: 30px;
                    border: none;
                    background: none;
                    font-size: 15px;
                    font-weight: 600;

                    &:focus {
                        outline: none
                    }
                }

                .cart__item_value {
                    height: 30px;
                    width: 30px;
                    background: #ffffff;
                    padding: 5px;
                    color: #3b3b3b;
                    font-weight: 600;
                    border-radius: 4px;
                }
            }

            .cart__prices {
                width: 120px;

                .cart__price {
                    color: #292929;
                    font-weight: 600;
                    margin: 0 0 0 70px;
                }
            }

            .cart__image {
                height: 100px;
                width: 80px;
                margin: 0 20px 0 10px;
                border-radius: 10px;
            }

            .cart__delete {
                height: 20px;
                width: 20px;
                margin: 0 0 0 30px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

    }

    .cart__payment {
        width: 400px;
        height: 400px;
        background-color: #ebebeb;
        border-radius: 10px;
        margin: 50px 32px 0 0;
        padding: 30px 0 0 0;
        position: absolute;
        right: 0;

        .cart__payment_name,
        .cart__payment_email,
        .cart__payment_phone {
            height: 45px;
            width: 349px;
            border: none;
            margin: 13px 0 5px 28px;
            border-radius: 7px;
            padding: 5px;
        }

        .cart__payment_btn {
            margin: 10px 0 10px 27px;
            width: 349px;
            height: 37px;
            border: none;
            background: #f77336;
            color: white;
            font-weight: 600;
            border-radius: 5px;

            &:hover {
                background: #f05811;
            }
        }

        .cart__payment_info {
            margin: 13px 0 5px 28px;
        }
    }
}