.breadcrumbs {
  margin: 10px 0 0 10px;
}

.breadcrumbs .breadcrumbs__content {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cart .cart__items_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0 0 20px;
  position: absolute;
  left: 0;
  z-index: 1;
}

.cart .cart__items_list .cart__single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 0 20px;
  background-color: #f3f3f3;
  width: 900px;
  height: 120px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px #efefef;
          box-shadow: 2px 2px 2px #efefef;
}

.cart .cart__items_list .cart__single:hover {
  background-color: #eeeeee;
}

.cart .cart__items_list .cart__single .cart_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
}

.cart .cart__items_list .cart__single .cart__item_count {
  margin: 0 0 0 50px;
}

.cart .cart__items_list .cart__single .cart__item_count .cart__count_plus,
.cart .cart__items_list .cart__single .cart__item_count .cart__count_minus {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  font-size: 15px;
  font-weight: 600;
}

.cart .cart__items_list .cart__single .cart__item_count .cart__count_plus:focus,
.cart .cart__items_list .cart__single .cart__item_count .cart__count_minus:focus {
  outline: none;
}

.cart .cart__items_list .cart__single .cart__item_count .cart__item_value {
  height: 30px;
  width: 30px;
  background: #ffffff;
  padding: 5px;
  color: #3b3b3b;
  font-weight: 600;
  border-radius: 4px;
}

.cart .cart__items_list .cart__single .cart__prices {
  width: 120px;
}

.cart .cart__items_list .cart__single .cart__prices .cart__price {
  color: #292929;
  font-weight: 600;
  margin: 0 0 0 70px;
}

.cart .cart__items_list .cart__single .cart__image {
  height: 100px;
  width: 80px;
  margin: 0 20px 0 10px;
  border-radius: 10px;
}

.cart .cart__items_list .cart__single .cart__delete {
  height: 20px;
  width: 20px;
  margin: 0 0 0 30px;
}

.cart .cart__items_list .cart__single .cart__delete:hover {
  cursor: pointer;
}

.cart .cart__payment {
  width: 400px;
  height: 400px;
  background-color: #ebebeb;
  border-radius: 10px;
  margin: 50px 32px 0 0;
  padding: 30px 0 0 0;
  position: absolute;
  right: 0;
}

.cart .cart__payment .cart__payment_name,
.cart .cart__payment .cart__payment_email,
.cart .cart__payment .cart__payment_phone {
  height: 45px;
  width: 349px;
  border: none;
  margin: 13px 0 5px 28px;
  border-radius: 7px;
  padding: 5px;
}

.cart .cart__payment .cart__payment_btn {
  margin: 10px 0 10px 27px;
  width: 349px;
  height: 37px;
  border: none;
  background: #f77336;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.cart .cart__payment .cart__payment_btn:hover {
  background: #f05811;
}

.cart .cart__payment .cart__payment_info {
  margin: 13px 0 5px 28px;
}
/*# sourceMappingURL=cart.css.map */